@import url('https://fonts.googleapis.com/css?family=Belleza');
body {
    background-color: #d42427;
    color: white;
}

.mainHeader {
    font-family: 'Belleza', sans-serif;
    color: white;
    text-align: center;
    margin-top: 5%;
    font-size: 3.5em;
    margin-bottom: 6%;
}

.mainHeader img {
    position: relative;
    bottom: 0;
}

.formHeader {
    font-family: 'Belleza', sans-serif;
    text-align: center;
    font-size: 4em;
    padding-top: 3%;
    margin-bottom: 5%;
}

.formTitle {
    font-family: 'Belleza', sans-serif;
    padding-top: 10%;
}

.forTitle {
    float: left;
    font-family: 'Belleza', sans-serif;
}

.dateTitle {
    float: right;
    font-family: 'Belleza', sans-serif;
}

.dateDiv {
    font-size: 1.25em;
    font-weight: bold;
}

.dateLabel {
    font-family: 'Belleza', sans-serif;
}

.backButton {
    margin: 0 auto;
}

.startOrderBtnDiv {
    margin-top: 15%;
}

#reviewHeader {
    padding-bottom: 0;
}

#reviewTable {
    padding-top: 0;
    font-family: 'Belleza', sans-serif;
}

.submitMsg {
    font-family: 'Belleza', sans-serif;
    color: white;
    text-align: center;
    margin-top: 25%;
}

.ui.form input[type=text] {
    font-family: 'Belleza', sans-serif;
}

.ui.center.aligned.header,
.ui.centered.header {
    text-align: center;
    font-family: 'Belleza', sans-serif;
    color: #d42427;
}

.ui.fluid.button {
    font-family: 'Belleza', sans-serif;
    display: block;
}

.ui.huge.button {
    font-family: 'Belleza', sans-serif;
}

.ui.form .field>label {
    font-family: 'Belleza', sans-serif;
    color: white;
    float: left;
}

.startOrderBtnDiv .ui.inverted.button {
    font-family: 'Belleza', sans-serif;
}

.startOrderBtnDiv .ui.inverted.button:hover {
    font-family: 'Belleza', sans-serif;
    color: #d42427;
}

.react-datepicker__input-container {
    color: #d42427;
}

.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover {
    background-color: #d42427;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
    background-color: #d42427;
}

.react-datepicker__day--keyboard-selected:hover {
    background-color: #d42427;
}

.react-datepicker__day--keyboard-selected {
    background-color: #d42427;
}

.uploadLabel {
    float: left;
    font-family: 'Belleza', sans-serif;
}

.dropzone {
    color: black !important;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 2%;
}

.dropzone>div {
    width: 100% !important;
    height: 100px !important;
    border-width: 2px;
    border-color: lightgray !important;
    border-style: dashed;
    border-radius: 5px;
}

.uploadModal {
    text-align: center;
}

@media (max-width: 768px) {
    .ui.form {
        padding-left: 3%;
    }
    .backButton {
        margin: 0 auto;
    }
    .formHeader {
        margin-bottom: 10%;
    }
}

@media (max-width: 415px) {
    .mainHeader {
        font-family: 'Belleza', sans-serif;
        color: white;
        text-align: center;
        margin-top: 5%;
        font-size: 2.5em;
        margin-bottom: 35%;
    }
    .formHeader {
        font-family: 'Belleza', sans-serif;
        text-align: center;
        font-size: 2em;
        padding-top: 3%;
        margin-bottom: 10%;
    }
}

@media (max-width: 405px) {
    .ui.huge.button,
    .ui.huge.buttons .button,
    .ui.huge.buttons .or {
        font-size: 1rem;
    }
    .dateTitle {
        float: left;
    }
}